<%= link_to "back to calendar", goals_path %>

<div>
<ul>
    <% @goals.each do |goal| %>
    <li><%= goal.name %> <%= link_to "hi", edit_goal_path(goal) %> <%= link_to "del", goal_path(goal), method: :delete %></li>
    <% end %>
</ul>

<%= link_to "Add a new goal", new_goal_path %>
</div>